/* Collector Game Stylesheet */

/* Universal Box Sizing */
* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

div#siteBox {
    width: 500px;
    margin: auto;

  }

div.heading {
    
}

h1 {
    font-size: 36px;
    color: brown;
    text-shadow: -1 -1 5 white;
    text-align: center;
    padding: 5%;
}

p#instruction {
    text-align: center;
}